/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #f1f8e9;
}

/* Styles for Logo navbar */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #505050;
}

.green-o {
    color: #558b2f;
}

.thin {
    font-weight: 300;
}

/* Project colours */
.light-bg {
    background-color: #dcedc8;
}

.dark-bg {
    background-color: #558b2f;
}

.main-bg {
    background-color: #f1f8e9;
}

.nav-bg {
    background-color: #9dc7b0;
}


/* Styles Home Page */
/* Main content */
main {
    background-color: #f1f8e9;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: url("../images/default.jpg") no-repeat center center/cover;
    background-color: #c5e1a5;
}

.hero-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 1.5px;
    color: #252525;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 180px;
}

#hero p {
    display: flex;
    flex-direction: column;
    text-transform: none;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 1.4px;
    color: #161616;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#homepage-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.action-button {
    padding: 12px 20px;
    /* border-style: solid;
    border: 1px outset buttonborder; */
    border-radius: 100px; 
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #bdda76;
    background-color: #3c431cd6;
    /* border-color: #3c431cd6; */
}

.action-button:hover {
    background-color: #bdda76;
    color: #3c431cd6;
}

/* custom Styles About Page */

.about-image-container {
    max-height: 300px;
    overflow: hidden;
  }
  
  .about-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .collapse-toggle {
    cursor: pointer;
  }
  
  .collapse-toggle i {
    transition: transform 0.3s ease-in-out;
  }
  
  .collapse-toggle[aria-expanded="true"] i {
    transform: rotate(180deg);
  }

/* custom Styles Features Page */

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    margin-top: .6rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #002542;
}

.image-container {
    position: relative;
}

.image-flash {
    /* position: absolute; */
    bottom: 5%;
    min-width: 30%;
    
    /* background-color: #aed2ed; */
}

.author {
    color: #71be0d;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}


.masthead-image {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.masthead-text {
    margin-bottom: 1rem;
}

.post-title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-subtitle {
    color: #63686c;
}

.post-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #59b83c;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}