/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f7f3;
}

.main-content {
    background-color: #f8f7f3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px;
}


/* used colours */
.light-bg {
    background-color: #dcedc8;
}

.dark-bg {
    background-color: #558b2f;
}

.main-bg {
    background-color: #f8f7f3;
}

.nav-bg {
    background-color: #bee5d0;
}

.p-message {
    color: #00000854;
    font-size: 0.8rem;
    margin: 0px 20px 8px;
}

/* Styles for Logo navbar */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #505050;
}

.green-o {
    color: #558b2f;
}

.thin {
    font-weight: 300;
}


/* Styles Home Page */
/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: url("../images/default.jpg") no-repeat center center/cover;
    background-color: #c5e1a5;
}

.hero-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 1.5px;
    color: #252525;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 180px;
}

#hero p {
    display: flex;
    flex-direction: column;
    text-transform: none;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    color: #161616;
    text-align: center;
    padding-top: 40px;
    padding-left: 65px;
    padding-right: 65px;
}

#homepage-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.action-button {
    padding: 12px 20px;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #bdda76;
    background-color: #3c431cd6;
}

.action-button:hover {
    background-color: #bdda76;
    color: #3c431cd6;
}


/* Styles for square links on homepage */
.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 20px;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 10px;
}

.link-square {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 auto;
    margin: 15px;
}

.link-square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.link-square span {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.3px;
}

.link-square:hover {
    color: #558b2f
}


/* custom Styles About Page */
.top-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow: hidden;
}

.collapse-toggle {
    cursor: pointer;
}

.collapse-toggle i {
    transition: transform 0.3s ease-in-out;
}

.collapse-toggle[aria-expanded="true"] i {
    transform: rotate(180deg);
}


/* custom Style Zone Map Page */
.zone-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 600px;
    padding-bottom: 30px;
}

.zone-title {
    padding-top: 20px;
    padding-bottom: 40px;
}


/* custom Styles Features Page */
.card {
    margin: 4px;
    border: solid 1px #0000002f;
    background-color: transparent;
}

.card-title {
    margin-top: .6rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #558b2f;
}

.image-container {
    position: relative;
}

.image-flash {
    bottom: 5%;
    min-width: 30%;
}

.author {
    color: #71be0d;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.masthead-image {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.masthead-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-subtitle {
    color: #63686c;
}

.post-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #59b83c;
}

.count {
    margin: 15px;
}

/* Styles for the Contact Us page" */


/* Styles for Dashboard */

.dashboard-card {
    margin: 4px;
    border: solid 1px #0000002f;
    border-radius: .30rem;
    background-color: transparent;
    padding: 15px;
}

.dashboard-card a {
    text-decoration: none;
    color: #558b2f;
    line-height: 2rem;
}

.dashboard-card a:hover {
    color: #d26a09;
}

.dashboard-card h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.btn-story {
    width: 190px;
    text-transform: uppercase;
    padding: 12px;
    margin: 15px;
    color: #fbfbfb !important;
}

.create-story {
    padding: 25px;
}

.create-story h2 {
    margin-bottom: 25px;
}

.story-form {
    background-color: #bee5d0;
    padding: 24px;
    border: #bee5d0;
    border-radius: 0.5rem;
}

/* create story page */
.form-control {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


/* Styles for Footer */

.footer-icons a {
    color: black !important;
}


/* Styles for pop-up modals on site */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-backdrop {
    z-index: 0;
}

.modal.show {
    z-index: 1060;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Styles for buttons on site */
.btn-signup,
.btn-edit,
.btn-story,
.btn-save,
.btn-publish {
    background-color: #558b2f;
    color: #fbfbfb;
}

.btn-signup:hover,
.btn-edit:hover,
.btn-story:hover,
.btn-save:hover,
.btn-publish:hover {
    background-color: #0e0e0e;
    color: #fbfbfb;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #558b2f;
}

.btn-delete {
    color: #fff;
    background: #d8611bf3;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: #558b2fbc;
}



/* Media query: tablets and larger */
@media screen and (min-width: 768px) {

    /* Hero section */
    .hero-title {
        padding-top: 150px;
    }

    #hero p {
        display: flex;
        flex-direction: column;
        text-transform: none;
        font-size: 1rem;
        letter-spacing: 1.4px;
        text-align: center;
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 45px;
    }

    .comments-section {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .form-control {
        font-size: 0.9rem;
    }
}


@media (min-width: 950px) {

    /* links on homepage */
    .link-container {
        align-items: center;
    }

    .comments-section {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .top-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 500px;
        overflow: hidden;
    }
}