{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container mt-5">
    <!-- Feature Image -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="top-image-container">
                <img src="{% static 'images/features.jpg' %}" class="top-image" alt="About image">
            </div>
        </div>
    </div>

    <!-- Title and paragraph -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="h2-features mb-3">FEATURES</h1>
            <p>Dive into inspiring stories and expert advice from coastal gardeners across the UK and Ireland. Explore
                tips, techniques, and success stories to help your seaside garden flourish.</p>
        </div>
    </div>

    <!-- features in row of three -->
    <div class="container-fluid">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                        alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr>
                                <p class="card-text text-muted h6">{{ post.created_on}}
                                </p>
                            </div>

                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <hr>
    <!-- Square Links -->
    <div class="row">
        <div class="link-container">
            <a href="{% url 'about' %}" class="link-square">
                <img src="{% static 'images/about-square.webp' %}" alt="About">
                <span>About</span>
            </a>
            <a href="{% url 'zone_map' %}" class="link-square" aria-label="garden zone map">
                <img src="{% static 'images/zone-square.webp' %}" alt="Zone map">
                <span>Zone Map</span>
            </a>
            <a href="{% url 'features' %}" class="link-square">
                <img src="{% static 'images/features-square.webp' %}" alt="Features">
                <span>Features</span>
            </a>
            <a href="{% url 'contact' %}" class="link-square" aria-label="link to the contact us page">
                <img src="{% static 'images/contact-square.webp' %}" alt="Contact us">
                <span>Contact Us</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}