{% extends "base.html" %}
{% url 'about' as about_url %}

{% block content %}

<!-- index.html content starts here -->
<main>
    <div id="hero">
        <h1 class="hero-title">Coastal Gardens</h1>
        <p>Everything you need to know about how to make stuff grow.</p>
        <div id="homepage-button">
            <a href="{% url 'about' %}" class="action-button">More About Us</a>
        </div>
    </div>
</main>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
Copyright 2024 LemmenAid
{% endblock %}