{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <div class="top-image-container">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="top-image" alt="placeholder image">
                {% else %}
                <img src=" {{ post.featured_image.url }}" class="top-image" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="masthead-text">
                <h1 class="post-title mb-3">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>

    <!-- Feature content -->
    <div class="container">
        <div class="row">
            <div class="post-content">
                {{ post.content | safe }}
            </div>
        </div>
    </div>

    <!-- Add Save button -->
    {% if user.is_authenticated %}
    <form action="{% url 'save_post' post_id=post.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-save">
            {% if post in request.user.profile.saved_posts.all %}
            Unsave
            {% else %}
            Save
            {% endif %}
        </button>
    </form>
    {% endif %}

    <!-- Delete Story button -->
    {% if user == post.author %}
    <button class="btn btn-delete-story mt-3" data-bs-toggle="modal" data-bs-target="#deleteStoryModal">
        Delete Story
    </button>
    {% endif %}

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12 count">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <!-- Displaying Comments -->
    <div class="container-fluid">
        <div class="row justify-content-between">

            <!-- Comments section -->
            <div class="col-md-6 card mb-4 mt-3 comment-section">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- for loop to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div
                        class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="font-weight-bold">
                            {{ comment.author }}
                            <span class="font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                        {% if not comment.approved and comment.author == user %}
                        <p class="approval">This comment is awaiting approval</p>
                        {% endif %}
                        {% if user.is_authenticated and comment.author == user %}
                        <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                        <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                        {% endif %}
                    </div>
                    <!-- For loop ends here -->
                    {% endfor %}
                </div>
            </div>

            <!-- Creating New Comments section -->
            <div class="col-md-4 card mb-4 mt-3 comment-form-section">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-save">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Square Links -->
    <div class="row">
        <div class="link-container">
            <a href="{% url 'about' %}" class="link-square">
                <img src="{% static 'images/about.jpg' %}" alt="About">
                <span>About</span>
            </a>
            <a href="{% url 'zone_map' %}" class="link-square" aria-label="garden zone map">
                <img src="{% static 'images/zone.jpg' %}" alt="Zone map">
                <span>Zone Map</span>
            </a>
            <a href="{% url 'features' %}" class="link-square">
                <img src="{% static 'images/features.jpg' %}" alt="Features">
                <span>Features</span>
            </a>
            <a href="{% url 'contact' %}" class="link-square" aria-label="link to the contact us page">
                <img src="{% static 'images/contact.jpg' %}" alt="Contact us">
                <span>Contact Us</span>
            </a>
        </div>
    </div>
</div>

<!-- Delete comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete story confirmation modal -->
<div class="modal fade" id="deleteStoryModal" tabindex="-1" aria-labelledby="deleteStoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStoryModalLabel">Delete story?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your story? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_story' slug=post.slug %}" class="btn btn-delete-story">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock extra_js %}