{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Top Image -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="top-image-container">
                <img src="{% static 'images/dashboard2.jpg' %}" class="top-image" alt="Coastal image">
            </div>
        </div>
    </div>

    <!-- Title and paragraph -->
    <div class="row mb-4">
        <div class="col-12">
            <h2 class="h2-dashboard">Welcome to your Dashboard, {{ request.user.username }}</h2>
            <p>Write stories! Share Ideas, get inspired.</p>
        </div>
    </div>
    <!-- Stories, saved features and comments -->
    <div class="row mb-4 dashboard-card">
        <div class="col-12">
            <h2>Your Stories</h2>
            <a href="{% url 'create_member_story' %}" class="btn btn-story mb-3">Create New Story</a>
            <hr>
            <div>
                {% for post in user_posts %}
                <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                <hr>
                {% empty %}
                <p>You haven't written any stories yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mb-4 dashboard-card">
        <div class="col-12">
            <h2>Saved Features</h2>
            {% for post in saved_posts %}
            <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
            <hr>
            {% empty %}
            <p>No saved Features.</p>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-4 dashboard-card">
        <div class="col-12">
            <h2>Your Comments</h2>
            {% for comment in user_comments %}
            <p>{{ comment.body }} on {{ comment.post.title }}</p>
            <hr>
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<!-- square links   -->
<div class="row">
    <div class="link-container">
        <a href="{% url 'about' %}" class="link-square">
            <img src="{% static 'images/about.jpg' %}" alt="About">
            <span>About</span>
        </a>
        <a href="{% url 'zone_map' %}" class="link-square" aria-label="garden zone map">
            <img src="{% static 'images/zone.jpg' %}" alt="Zone map">
            <span>Zone Map</span>
        </a>
        <a href="{% url 'features' %}" class="link-square">
            <img src="{% static 'images/features.jpg' %}" alt="Features">
            <span>Features</span>
        </a>
        <a href="{% url 'contact' %}" class="link-square">
            <img src="{% static 'images/contact.jpg' %}" alt="Contact us">
            <span>Contact Us</span>
        </a>
    </div>
</div>
{% endblock content %}