{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container mt-5">
  <!-- About Image -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="about-image-container">
      <img src="{% static 'images/about.jpg' %}" class="about-image" alt="About image">
      </div>
    </div>
  </div>

<!-- Title and Content -->
<div class="row mb-4">
  <div class="col-12">
    <h2>{{ about.title }}</h2>
    <div>
      {{ about.content | safe }}
    </div>
  </div>
</div>


  <!-- Zone Map and Get Started Images   -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <a href="{% url 'zone_map' %}" class="d-block square-image-link">
        <img src="{% static 'images/zone-map-wht.jpg' %}" class="img-fluid square-image" alt="Zone Map">
        <div class="image-overlay">
          <span>Zone Map</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <a href="{% url 'get_started' %}" class="d-block square-image-link">
        <img src="{% static 'images/default.jpg' %}" class="img-fluid square-image" alt="Get Started">
        <div class="image-overlay">
          <span>Get Started</span>
        </div>
      </a>
    </div>
  </div>
  
  <!-- Updated date -->
  <div class="row mt-3">
    <div class="col-12">
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>

{% endblock content %}

