{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <!-- About Image -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="top-image-container">
        {% if "placeholder" in about.profile_image.url %}
        <img src="{% static 'images/about.jpg' %}" class="top-image" alt="placeholder image">
        {% else %}
        <img src="{{ about.profile_image.url }}" class="top-image" alt="{{ about.title }}">
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Title and Content -->
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="h2-about">{{ about.title }}</h2>
      <div>
        {{ about.content | safe }}
      </div>
    </div>
  </div>

  <!-- Square Links -->
  <div class="row">
    <div class="link-container">
      <a href="{% url 'zone_map' %}" class="link-square" aria-label="garden zone map">
        <img src="{% static 'images/zone-square.webp' %}" alt="Zone map">
        <span>Zone Map</span>
      </a>
      <a href="{% url 'features' %}" class="link-square" aria-label="link to the features page">
        <img src="{% static 'images/features-square.webp' %}" alt="Features">
        <span>Features</span>
      </a>
      <a href="{% url 'contact' %}" class="link-square" aria-label="link to the contact us page">
        <img src="{% static 'images/contact-square.webp' %}" alt="Contact us">
        <span>Contact Us</span>
      </a>
    </div>
  </div>

  <!-- Updated date -->
  <div class="row mt-3">
    <div class="col-12">
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}